/* Planos de fundo */
.background-bola_na_rede {
	background-image: url("../Imagens/imagens-principal/bola_na_rede.png");
}

.background-embaixadinha {
	background-image: url("../Imagens/imagens-principal/embaixadinha.jpg");
}

.background-chute {
	background-image: url("../Imagens/imagens-principal/chute.jpg");
}
